*{
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: 'Ubuntu', sans-serif;
}
:root{
  --colorPrimary: #dff3e3;
  --colorNavbar: #045762;
}
.login-bottom-img{
  z-index: -100;
  position: fixed;
  bottom: 0;
  left: 0;
}
.top-img{
  z-index: -100;
  position: fixed;
  top: 0;
  right: 0;
}
.login{
  top: 50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px, 10px, 0px, rgb(70,70,70);
  background-color: white;
  padding: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
}
html{
margin: 50px;
background-color: var(--colorPrimary);
background-position: center;
background-size: cover;
background-attachment: fixed;
}
h3{
  text-align: center;
}
.nav-color{
 padding: 10px;
}
.link-color{
 
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: .25em;
  text-decoration: none;
  
}
.link-color:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}
.form{ 
  margin-left: 150px;
  margin-right:150px;
}
.flexi{
  display: flex;
 justify-content: flex-start;
}
.flexi2{
  margin-right:10px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
body{
  background: none;
}
.navbar{
  width: 100%;

  /* display: flex; */
  /* align-items: center; */
}
.img{
  width: 50px;
  display: flex;
  align-self: flex-start;
}
span{
  text-align: center;
}

nav ul li {
  /* display: inline-block; */
  list-style: none;
  /* margin: 0px 20px ; */
 
}
input[type="text"],
select.form-control {
background: transparent;
border: none;
border-bottom: 1px solid #000000;
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 0;
outline: 0;

}

input[type="text"]:focus,
select.form-control:focus {
-webkit-box-shadow: none;
box-shadow: none;
background: transparent;
}
.display-name{
  text-align: center;
  margin-bottom: 30px;
}

.btn-success {background-image: linear-gradient(to right, #64c0e1 0%, #bfe9ff  51%, #ff846e  100%)}
.btn-success {
 border: none;
 margin: 10px;
 padding: 14px 40px;
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 box-shadow: 0 0 20px #eee;
 border-radius: 10px;
}

.btn-success:hover {
 background-position: right center; /* change the direction of the change here */
 color: #fff;
 text-decoration: none;
}
.vector{
   height: 70%;
   position: fixed;
   bottom: 0;
   right: 50px;
   background-attachment: fixed;
   z-index:-1;

}
.select-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.show{
  margin: 100px;
}
/* stickey notes */
/* .main-container{
  margin: 0 auto;
} */
.sticky-container {

  max-width: 500px;
  position: relative;
  hyphens: auto;
margin: 0 auto;
}



.sticky-outer {
  display: flex;
  padding-top: 25.5925926%;
  position: relative;
  width: 100%;
}

.sticky {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Shadow behind the sticky note */
.sticky:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  width: 90%;
  left: 5px;
  height: 83%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content {
  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 120PX;
  padding-left: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  clip-path: url(#stickyClip);

}


/* Add responsiveness */
@media screen and (min-width: 640px) {
  .sticky:before {
    height: 79%;
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .sticky:before {
    height: 75%;
    width: 90%;
  }
  
}

@media screen and (min-width: 1024px) {
  .sticky:before {
    height: 73%;
    width: 90%;
  }
  
}
